img {
  max-width: 100%;
}

.QRCode h1 {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-size: 29px;
  text-align: center;
  margin-bottom: 1rem;
}

.QRCode p {
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.QRCode img {
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .QRCode {
    width: 400px;
  }
}
