img {
  max-width: 100%;
}

.QRCode h1 {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  text-align: center;
}

.QRCode p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 1rem;
}

.QRCode img {
  width: 200px;
  height: 185px;
  border-radius: 1.5rem;
  margin-bottom: 0rem;
  padding: 0.7rem;
}

@media (min-width: 500px) {
  .QRCode {
    width: 210px;
  }
}
